# Copy to .env and edit
ADMIN_USER=admin
ADMIN_PASS=password
# path relative to project root, default: data/shortit.db
DB_PATH=data/shortit.db
# set to true to display PHP errors (off by default)
SHOW_ERRORS=false

# mysql config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=shortit
DB_USER=root
DB_PASS=secret
